

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');



/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

:root {
  --main-link-color: #8E9EB3;
}

html {
font-size: 100%; }   /* 16px */
body {
  font-size: 1em;
  line-height: 1.75;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #222; }

  blockquote {
    border-left: 6px solid var(--main-link-color);
      margin: 1.25rem 0 1.25rem 0;
      padding: 0 0 0 .75rem;
  }

  aside {
    background: #fff;
    border-left: 6px solid var(--main-link-color);
      margin: 1.25rem 0 1.25rem 0;
      padding: 0 0 0 .75rem;
  }

  .eyebrow {
      font-size: .75rem;
      line-height: 2.33;
      letter-spacing: .05rem;
      text-transform: uppercase;
      color : #000;

  }

  p:first-child{

  }

  p {margin: 0
  }

  .buttonlink {
    border: 1px solid var(--main-link-color);
    /* background: var(--main-link-color); */
    border-radius: .25rem;
    padding: .5em 1em .5em 1em;
    text-align: center;
    vertical-align: middle;
    width: auto;
    height: auto;
    display: inline-block;
  }

  .buttonlink a {
    color: #000;
    text-decoration: none;
  }

  .buttonlink:hover a{
    color: #fff;
    text-decoration: underline;
  }

  .buttonlink:hover {
    background-color: var(--main-link-color);
  }



/* Div background color */
  .bgcolor {
    background-color: #616c7a;
    }
  .bgcolor-lt {
    background-color: #7a889a;
    }

  .bg-foot {
    background-color: #e8e8e8;
  }

  .drop-shadow {
      -webkit-filter: drop-shadow(5px 5px 5px #c0c0c0);
      filter: drop-shadow(5px 5px 5px #c0c0c0);
    }


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Perfect Fourth 1.333 scale rounded to human intelligible numbers divisible by 4 */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 400; }

.super_title { font-size: 4.25rem; line-height: 1;  letter-spacing: -.1rem;   margin-bottom: 1rem;}
h1 { font-size: 3rem; line-height: 1.25; letter-spacing: -.075rem; }
h2 { font-size: 2.25rem; line-height: 3rem; }
h3 { font-size: 1.75rem; line-height: 1.5; letter-spacing: 0rem; }
small, .text_small {font-size: 0.75em; line-height: 1.35; letter-spacing: 0rem;}



/* Larger than phablet*/
@media (min-width: 576px) {
  .super_title { font-size: 5.75rem; line-height: 1; font-weight: 400;letter-spacing: 0rem;}
  h1 { font-size: 4.25rem; line-height: 1.35; }
  h2 { font-size: 3rem; line-height: 1.25; letter-spacing: -.075rem;}
  h3 { font-size: 2.25rem; line-height: 3.25rem;}
  small, .text_small {font-size: 0.75em; line-height: 1.125; letter-spacing: 0rem;}
}


strong {
  font-weight: 600;
}

/* Knockout type */

.kotype {
  color: #fff;
}


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #000;
  text-decoration: none;
 }
a:hover {
  color: #666;
  text-decoration: underline;
}

a.bluerule {
   /* box-shadow:   0 2px 0 var(--main-link-color); */
   text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--main-link-color);
  text-decoration-thickness: .125em;
  text-underline-offset: .125em;
}

a.bluerule:hover {
  color: #B6CBE6;
  text-decoration-line: underline;
 text-decoration-style: solid;
 text-decoration-color: #B6CBE6;
 text-decoration-thickness: .125em;
 text-underline-offset: .125em;
}




/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-max-half-width {
    max-width: 50%;
    box-sizing: border-box; }

.border-on {
    border : 1px solid;}


/* Topnav
___________________________________________________*/


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  transition: 0.25s;
  padding-top: 60px;

}

.sidenav a {
  padding: 0px 0px 8px 32px;
  text-decoration: none;
  color: #000;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: -4px;
  right: 15px;
  font-size: 2.25rem;
  font-weight: 400;
  margin-left: 50px;
}

.openbtn {
  font-size: 1.75rem;
  cursor: pointer;
}
.hamburger {
  text-align: right;
}
.topnav {
  display: none;
}

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

    .logo img {
      width: 56px;
      height: 28px;
    }

    .logo {
      margin-top: 3%;
      padding-bottom: 1%;
    }

    @media (min-width: 576px) {
      .logo img {
        margin-left: 0px;
        width: 76px;
        height: 38px;

      }
      .logo {
        margin-top: 3%;
        margin-bottom: 1.5%;

      }

      .hamburger {
        display: none;
      }

      .topnav {
        display: block;
        padding-top: 3.5%;
      }
    }
